html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    position: relative;
    height: 100%;
}

body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  height: 100%;
}

.column {
  margin-left: 25px;
}

.contain-head {
  margin-left: 340px;
  margin-right: 340px;
  max-width: 960px;
  margin: auto;
}

#cont-bod {
  margin-top: 100px;
}

h1, h2 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-weight: bold;
}

h1 {
  width: 100px;
  background-color: #4aaaa5;
  text-align: center;
  padding: 20px;
  color: white
}

h2 {
  color: #4aaaa5;
  padding-bottom: 20px;
  border-bottom: 1px solid #cccccc;
}

.about, .top-notch {
  background-color: #ffffff;
}

.about {
  padding: 25px 25px 25px 25px;
  border: 1px solid #dddddd;
  max-width: 960px;
  height: auto;
  width: 80%;
  margin-top: 70px;
}

.top-notch {
  border-bottom: 1px solid #cccccc;
  height: 55px;
  width: 100%;
  position: absolute;
}

p {
  padding-top: 20px;
  line-height: 200%;
}

img.clark {
  height:auto;
  width: auto;
}

.navigation-right {
  padding-top: 20px;
  margin: auto;
  padding-right: 20px;
  top: -5px;
  right:0;
  position:absolute;
}

.footer {
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
    margin-top: 125px;
    padding-top: 55px;
    border-top: 5px solid #4aaaa5;
    position: absolute;
    bottom: 0;
}


.portfolio-background {
  background: #212121;
  position: relative;
  height:300px;
  width: 300px;
  text-align: center;
  margin: 25px
}
.portfolio-img {
  height:auto;
  max-height:300px;
  width:auto;
  max-width: 300px;
}
.caption {
  background-color: rgba(74,170,165,0.5);
  bottom:10%;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 2% 3%;
  position:absolute;
  z-index: 10;
  color: white
}

.about2 {
  padding: 25px 25px 25px 25px;
  border: 1px solid #dddddd;
  max-width: 960px;
  margin: auto;
  background-color: #ffffff;
  height:1250px
}

.center-portfolio-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:auto;
    max-height:300px;
    width:auto;
    max-width: 300px;
}

#clark {
  height:175px
}

#name, #email, #input  {
  width: 100%;
}

.about3 {
  padding: 25px 25px 25px 25px;
  border: 1px solid #dddddd;
  max-width: 960px;
  height: 550px;
  margin-top: 50px;
  width: auto;
  background-color: #ffffff;
  height: auto;
}

@media only screen and (max-width: 980px) {
  .navigation-right {
    padding-top: 20px;
    margin: auto;
    padding-right: 70px;
  }

  .top-notch {
    padding-left: 25px;
  }

  .about2 {
    max-width: 55%;
    margin-left: 25px;
    height: 900px;
    padding: 20px, 0px, 0px, 20px;

  }

  .portfolio-background {
    width: 200px;
    height: 200px;
    margin-left: 5px;
    margin-right: 15px;
    margin-top: -10px;
  }

  .portfolio-img {
    max-height: 200px;
    max-width: 200px;
  }

  .center-portfolio-img {
    max-width: 200px;
  }

  .port-container {
    padding-left: 0px;
  }

  .about {
    height: 950px;
    margin-top: 0px;
    width: 50%;
    margin-left: 25px;
  }

@media only screen and (max-width: 768px) {
  .about2 {
    max-width: 85%;
    margin-left: 25px;
    height: 1000px;
    padding: 20px, 0px, 0px, 20px;
  }

  .portfolio-background {
    width: 275px;
    height: 275px;
    margin-left: 5px;
    margin-right: 15px;
    margin-top: -10px;
  }

  .portfolio-img {
    max-height: 275px;
    max-width: 275px;
  }

  .center-portfolio-img {
    width: 275px;
  }

  .about {
    height: 875px;
    margin-top: 70px;
    width: 80%;
  }

  .about3 {
    padding-right: 25px;
    height: auto;
  }


}

@media only screen and (max-width: 640px) {

  h1 {
    width: 100%;
    text-align: center;
    vertical-align: top;
    font-size: 2em;
    padding-left: 0px;
  }

  .top-notch {
    margin-left: 0%;
    padding-left: 0px;
    text-align: center;
    margin-bottom: 0px;
    top:0;
    vertical-align: top;

  }

  .column {
    margin-left: 0px;
  }

  .navigation-right {
    width: 100%;
    text-align: center;
    background-color: white;
    float: inherit;
    margin-top: 0px;
    padding-right: 0px;
    padding-top: 0px;
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
    position: relative;
  }

  .about2{
    margin-top: 70px;
    max-width: 80%;
    height: 1600px;
  }

  .portfolio-background {
    width: 400px;
    margin-left: 25px;
    position: relative;
    overflow: visible;
    flex-wrap: wrap;
    height:inherit;
  }

  .portfolio-img {
    width: 400px;
    position: relative;
    overflow: visible;
    flex-wrap: wrap;
    height: inherit;
  }

  .center-portfolio-img {
    width: 400px;
    overflow: visible;
    flex-wrap: wrap;
    height: inherit;
  }

  .port-container {
    column-width: 450px;
    flex-wrap: wrap;
  }

  .row {
    margin-bottom: 70px;
  }

  #table_id {
    display: block;
  }

  #table_id td {
    display: inline-block;
  }

  #clark {
    width: 410px;
    height: auto;
  }

  .about{
    height: 1700px;
    margin-top: 120px;
  }

  .about3{
    margin-top: 100px;
    margin-left: 25px;
    margin-right: 25px;
  }

}
